= form_for @bot do |f|
  -if @bot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bot.errors.count, "error")} prohibited this bot from being saved:"
      %ul
        - @bot.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :account
    = f.text_field :account
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :followers
    = f.number_field :followers
  .field
    = f.label :comment
    = f.text_area :comment
  .actions
    = f.submit 'Save'
